
.header {
    background-color: #6200ea;
    padding: 20px;
    color: white;
    text-align: center;
}

.main {
    padding: 20px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}